<!DOCTYPE html>
<html>
        <head>
                <title>Player Search</title>
		<link rel="stylesheet" type="text/css"   href="/css/style.css">
	</head>
	<body>

	<div class="nav">
        <ul class = "navbar">
        <li id="nav-name">NBA Stat Tracker</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findPlayer">Find a Player</a></li>
        <li><a href="/comparePlayers">Compare Players</a></li>
        <li><a href="/standings">Standings</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/seasons">Seasons</a></li>
        </ul>
	</div>

                <h1>Find a player</h1>
                <p>Enter the players name to view their stats</p>
                <form action="/player-stats" method="POST">
                        <input id="search-box" type="text" name="first" placeholder="First Name" required>
                        <input id="search-box" type="text" name="last" placeholder="Last Name" required>
			<input type="submit" value="Find Player">
                </form>
                <p>*<i>If the player has no last name, then enter space in the Last Name box</i></p>
		<br>
                <a href='/'>Home</a>
        </body>
</html>



