<!DOCTYPE html>
<html>
        <head>
                <title>Find a player</title>
        </head>
        <body>
                <h1>Player earch</h1>
                <p>Enter your keyword to search for recipes</p>
                <form action="/player-stats" method="POST">
                        <input id="search-box" type="text" name="first" placeholder="First Name">
                        <input id="search-box" type="text" name="last" placeholder="Last Name">
			<input type="submit" value="Find PLayer">
                </form>
                <br>
                <a href='/'>Home</a>
        </body>
</html>



