<!DOCTYPE html>
<html>
        <head>
                <title>Player Comparison</title>
        	<link rel="stylesheet" type="text/css"   href="/css/style.css">
	</head>
	<body>

	<div class="nav">
        <ul class = "navbar">
        <li id="nav-name">NBA Stat Tracker</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findPlayer">Find a Player</a></li>
        <li><a href="/comparePlayers">Compare Players</a></li>
        <li><a href="/standings">Standings</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/seasons">Seasons</a></li>
        </ul>
	</div>

                <h1>Player Comparison</h1>
                <p>Enter two players' names to compare their stats</p>
                <form action="/compare-stats" method="POST">
                        <p>Compare:</p>
			<input id="search-box" type="text" name="first1" placeholder="First Name" required>
                        <input id="search-box" type="text" name="last1" placeholder="Last Name" required>
			<p>to:</p>
			<input id="search-box" type="text" name="first2" placeholder="First Name" required>
                        <input id="search-box" type="text" name="last2" placeholder="Last Name" required>
			<input type="submit" value="Compare Players">
                </form>
                <br>
                <a href='/'>Home</a>
        </body>
</html>



