<!DOCTYPE html>
<head>
<title>NBA Stat-Tracker</title>
<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>
<!-- Navigation Bar -->
<div class="nav">
<ul class = "navbar">
<li id="nav-name">NBA Stat Tracker</li>
<li><a href="/">Home</a></li>
<li><a href="/findPlayer">Find a Player</a></li>
<li><a href="/comparePlayers">Compare Players</a></li>
<li><a href="/standings">Standings</a></li>
<li><a href="/teams">Teams</a></li>
<li><a href="/seasons">Seasons</a></li>
</ul>
</div>
</body>
</html>
