<!DOCTYPE html>
<head>
        <title>List of Franchises</title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>

<div class="nav">
        <ul class = "navbar">
        <li id="nav-name">NBA Stat Tracker</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findPlayer">Find a Player</a></li>
        <li><a href="/comparePlayers">Compare Players</a></li>
        <li><a href="/standings">Standings</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/seasons">Seasons</a></li>
        </ul>
</div>

        <h1>Franchises Index</h1>
        <h3>List of NBA Franchises since 1950</h3>
	<div class='seasons'>
        <%franchises.forEach(function(team){%>
        <p><a href="/team/<%= team["abbv"] %>/ %>"><%= team["team"] %></a><p>
        <%})%>
        </div>
</body>
