body {
	margin: 2% 5%;
}

table {
	width: 100%;
	overflow-x: scroll;
	/*margin: 5%;*/
}

th {
	text-align: left;
	text-decoration: underline;
	padding-top: 12px;
	padding-bottom: 12px;
}

table tr:first-of-type {
	padding-bottom: 20px;
}

#season-list tbody tr {
	margin-bottom: 15px;
}

tr {
	margin: 5px;	
}

a {
	text-decoration: none;
	color: Blue;
	font-weight: 600;
}

ul {
	list-style-type: none;
	margin: 0% 0% 2% 0%;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: Black;
}

li {
	display: inline;
	margin: 20px 1vw;
}

li a {
	text-decoration: none;
	text-align: center;
	padding: 14px 5px;
}

li a:hover {
	background-color: Blue;
	color: White;
}

div {
	margin-bottom: 100px;
}

.imp {
	color: Green;
        font-weight: 500;
}

.nav {
	float: auto;
}

#nav-name {
	font-weight: 800;
	font-size: 22px;
}

@media only screen and (max-width: 970px) {
	li {
		display: block;
	}

	ul {
		float: auto;
	}
}

